


body {
    font-family: arial, helvetica, non-serif;
    font-size: 12pt;
    color: #050505;
    background-color: #EEEEEE;

}

#wrapper {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}


nav {
    width: 100%;
    background-color: #98e3ff;
    height: 50px;
}

nav ul {
    width: 100%;
    text-align: center;
    padding: 0;
}

nav ul li {
    color: #FFFFFF;
    display: inline-block;
    padding: 15px;
    position: relative;
    width: auto;
}

nav ul li a {
    background: #98e3ff;
    color:#FFFFFF;
    font-family: Arial;
    text-transform: uppercase;
    font-size: 14px;
    vertical-align: middle;
}

.test-btn {
    background: #ffa4a6;
    width: 40%;
    margin: 0 auto;
    height: 50px;
    border: none;
}

@media only screen and (max-width : 768px)  { /*use max-device-width to only taget devices rather than smaller browswer windows*/
    .test-btn{
        background: #75ffa1;
        width: 100%;
    }
}
